---
import clsx from "clsx";
---

<div
  class={clsx(
    "w-screen h-80 md:h-96",
    "bg-[url(/iniciativa-devops/img/landing-bg.jpg)] bg-top bg-cover bg-no-repeat"
  )}
>
  <div
    class={clsx(
      "flex flex-col justify-center items-center h-full text-center px-4",
      "bg-gradient-to-t from-primary-950 to-transparent from-20% to-100%"
    )}
  >
    <h1 class="text-3xl md:text-5xl font-bold mb-4">Iniciativa DevOps</h1>
    <p class="text-xl md:text-3xl max-w-[50ch]">
      Programa de capacitação em DevOps para alunos de graduação em Ciência da
      Computação na UFCG
    </p>
  </div>
</div>
