---
import Container from "./Container.astro";
import DesktopNav from "../navigation/DesktopNav.astro";
import MobileNav from "../navigation/MobileNav.astro";
import type { NavLink } from "../navigation/NavLink";

import List from "phosphor-astro/List.astro"

const navigationLinks: NavLink[] = [
  {
    label: "home",
    url: "/iniciativa-devops",
  },
  {
    label: "membros",
    url: "/iniciativa-devops/members",
  },
];
---

<header class="relative top-0 left-0 w-screen px-4 py-2 font-bold text-xl">
  <Container class="flex justify-between items-center">
    <Fragment>
      <!-- Header logo -->
      <div class="flex items-center gap-3">
        <img
          src="/iniciativa-devops/guardians.svg"
          class="w-12 h-auto"
          alt="guardians logo"
        />
        <span>Guardians UFCG</span>
      </div>

      <!-- Navbar -->
      <DesktopNav links={navigationLinks} />
      <MobileNav links={navigationLinks} />
      <button class="block md:hidden" onclick="toggleNavigation()"><List class="w-8" /></button>
    </Fragment>
  </Container>
</header>
