---
import type { NavigationProps } from "./NavLink";

const { links } = Astro.props as NavigationProps;
---

<nav>
  <ul class="list-none gap-4 hidden md:flex">
    {
      links.map(({ url, label }) => (
        <li class="hover:text-accent-500">
          <a href={url}>{label.toUpperCase()}</a>
        </li>
      ))
    }
  </ul>
</nav>
