---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Iniciativa DevOps - Home">
  <div class="flex flex-col gap-4">
    <h1 class="text-2xl font-bold font-mono text-blue-400">
      ~/Iniciativa-DevOps
    </h1>
    <p class="text-lg max-w-[80ch]">
      Programa de incentivo e capacitação em DevOps e Infraestrutura ofertado
      pelo Guardians UFCG
    </p>
    <a
      class="w-fit py-2 px-3 border border-blue-400 rounded-tr-2xl rounded-bl-2xl text-blue-400 hover:bg-blue-400 hover:text-white"
      href="/members">Conheça nossa equipe</a
    >
  </div>
</Layout>
