---
import MemberList from "../components/member/MemberList.astro";
import Layout from "../layouts/Layout.astro";

import Leaders from "../../public/members/leaders.json";
import ActiveMembers from "../../public/members/members.json";
---

<Layout title="Iniciativa DevOps - Membros">
  <section class="flex flex-col mt-20">
    <MemberList
      title="Líderes e Monitores"
      members={Leaders}
    />
    <MemberList
      title="Membros"
      members={ActiveMembers}
    />
  </section>
</Layout>
