---

---

<div class="flex flex-col items-center gap-2 max-w-52 p-4 rounded-tr-2xl rounded-bl-2xl bg-gray-800 hover:shadow-md">
  <div class="w-14 h-auto"><slot name="stats-icon" /></div>
  <div class="text-lg text-center">
    <slot name="stats-description" />
  </div>
</div>
