---
import Section from "../../layout/Section.astro";
---

<Section title="Nossos objetivos">
  <div class="grid grid-cols-1 gap-8 md:grid-cols-2 justify-center items-center">
    <div class="w-full h-auto">
      <img
        src="/iniciativa-devops/img/objectives-section-img.jpg"
        alt=""
        class="w-5/6 mx-auto rounded-tr-2xl rounded-bl-2xl"
      />
    </div>
    <div class="flex flex-col gap-4 text-xl">
      <p>
        Nosso foco principal reside em <b>enriquecer a formação dos alunos de
        Computação da UFCG</b>, incentivando o aprendizado de diversas tecnologias
        hoje essenciais no mercado, como <b>Linux</b>, <b>Kubernetes</b>, <b>Docker</b> e muitas
        outras.
      </p>
      <p>
        Também buscamos <b>impulsionar a carreira profissional</b> dos participantes e
        <b>revelar novos talentos</b> na área para <b>atuação em projetos reais</b> junto aos
        laboratórios da UFCG.
      </p>
    </div>
  </div>
</Section>
