---
import MemberCard from "./MemberCard.astro";

export type MemberProfile = {
  imgSrc: string;
  name: string;
  role: string;
  github?: string;
  linkedin?: string;
};

interface Props {
  title: string;
  members: MemberProfile[];
}

const { title, members } = Astro.props;
---

<div class="mb-4">
  <h2 class="text-xl md:text-3xl text-center font-bold mb-4">{title}</h2>
  <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
    {members.map(item => <MemberCard {...item} />)}
  </div>
</div>
