---
import Container from "../components/Container.astro";
import DesktopNav from "../components/navigation/DesktopNav.astro";
import MobileNav from "../components/navigation/MobileNav.astro";
import type { NavLink } from "../components/navigation/NavLink";

const navigationLinks: NavLink[] = [
  {
    label: "home",
    url: "/iniciativa-devops",
  },
  {
    label: "membros",
    url: "/iniciativa-devops/members",
  },
];
---

<header class="relative top-0 left-0 w-screen px-4 py-2 font-bold text-xl">
  <Container class="flex justify-between items-center">
    <Fragment>
      <!-- Header logo -->
      <div class="flex items-center gap-3">
        <img
          src="/iniciativa-devops/guardians.svg"
          class="w-12 h-auto"
          alt="guardians logo"
        />
        <span>Guardians UFCG</span>
      </div>

      <!-- Navbar -->
      <DesktopNav links={navigationLinks} />
    </Fragment>
  </Container>
</header>
