---
import Container from "../components/Container.astro";

interface NavLink {
  label: string;
  url: string;
}

const links: NavLink[] = [
  {
    label: "home",
    url: "/iniciativa-devops",
  },
  {
    label: "membros",
    url: "/iniciativa-devops/members",
  },
];
---

<header class="absolute top-0 left-0 w-screen px-4 py-2 font-bold text-xl">
  <Container class="flex justify-between items-center">
    <Fragment>
      <!-- Header logo -->
      <div class="flex items-center gap-3">
        <img
          src="/iniciativa-devops/guardians.svg"
          class="w-12 h-auto"
          alt="guardians logo"
        />
        <span>Guardians UFCG</span>
      </div>

      <!-- Navbar -->
      <nav class="hidden md:block">
        <ul class="flex list-none gap-3">
          {
            links.map((link) => (
              <li class="hover:text-accent-500">
                <a href={link.url}>{link.label.toUpperCase()}</a>
              </li>
            ))
          }
        </ul>
      </nav>
    </Fragment>
  </Container>
</header>
