---
import Container from "../components/Container.astro";

interface NavLink {
  label: string;
  url: string;
}

const links: NavLink[] = [
  {
    label: "home",
    url: "/",
  },
  {
    label: "membros",
    url: "/members",
  },
];
---

<header class="absolute top-0 left-0 w-full px-4 py-2">
  <Container
    class="flex justify-between"
  >
    <Fragment>
      <!-- Header logo -->
      <div class="flex items-center gap-4">
        <img
          src="/guardians.svg"
          class="rounded-xl w-12 h-auto"
          alt="guardians logo"
        />
        <span class="text-xl font-bold">Guardians UFCG</span>
      </div>

      <!-- Navbar -->
      <nav>
        <ul class="flex list-none gap-4 text-lg">
          {
            links.map((link) => (
              <li class="hover:text-main">
                <a href={link.url}>{link.label.toUpperCase()}</a>
              </li>
            ))
          }
        </ul>
      </nav>
    </Fragment>
  </Container>
</header>
