---
import Container from '../components/Container.astro';
import Header from './Header.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Iniciativa DevOps" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/iniciativa-devops/guardians.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-zinc-900 text-white">
    <Header />
    <Container class="px-4">
      <slot />
    </Container>
  </body>
</html>
